.text-white{
    color: white;
}

.text-red{
    color: red;
}

.text-blue{
    color: blue;
}

.text-green{
    color: green;
}

.text-stroke{
    -webkit-text-stroke: 3px green; /* Outer black stroke */
  }
