/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    /* this is for agriculture  */
    .agri-1{
        width: 650px;
        border-radius: 50px ;
    }
    .agri-2{
        width: 650px;
        border-radius: 50px ;
    }

    .agri-3{
        width: 650px;
        border-radius: 50px;
    }

    .agri-4{
        width: 650px;
        border-radius: 50px;
    }

    .agri-5{
        width: 650px;
        border-radius: 50px ;
    }

    .portfolio-details{
        margin-top: -90px;
    }

    .lingap-16{
        width: 500px;
    }

   #feb-28{
    margin-top: -100px;
   }

   #jan-17{
    margin-top: -80px; 
   }

    #gallery-main{
        margin-top: -90px;
    }

    /* agriculture end  */

  }
  
  /* Small devices (portrait tablets and large phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small devices */
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .custom-header{
        font-size: 20px;
    }

    .overlay-font{
        margin-top: -200px;
    }

    .overlay-p{
        margin-top: -15px;
        font-size: 20px;
        font-weight: 20px;
    }


    .overlay-h6{
        margin-top:20px;
    }

    .text-stroke{
        -webkit-text-stroke: 5px green; 
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for large devices */
    .custom-header{
        font-size: 120px;
    }

    .overlay-font{
        margin-top: -200px;
    }

    .overlay-p{
        margin-top: -25px;
        font-size: 20px;
        font-weight: 20px;
    }

    .overlay-h6{
        margin-top:20px;
    }

    .text-stroke{
        -webkit-text-stroke: 5px green; 
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .custom-header{
        font-size: 120px;
    }

    .overlay-font{
        margin-top: -200px;
    }

    .overlay-p{
        margin-top: -25px;
        font-size: 20px;
        font-weight: 20px;
    }

    .overlay-h6{
        margin-top:20px;
    }

    .text-stroke{
        -webkit-text-stroke: 5px green; 
    }
  }
  
  /* For very large screens (1200px and up, sometimes used for very high resolution screens) */
  @media (min-width: 1400px) {
    .custom-header{
        font-size: 120px;
    }

    .overlay-font{
        margin-top: -200px;
    }

    .overlay-p{
        margin-top: -25px;
        font-size: 20px;
        font-weight: 20px;
    }

    .overlay-h6{
        margin-top:20px;
    }

    .text-stroke{
        -webkit-text-stroke: 5px green; 
    }

    .agri-1{
        width: 650px;
        border-radius: 50px ;
    }
    .agri-2{
        width: 650px;
        border-radius: 50px ;
    }

    .agri-3{
        width: 650px;
        border-radius: 50px;
    }

    .agri-4{
        width: 650px;
        border-radius: 50px;
    }

    .agri-5{
        width: 650px;
        border-radius: 50px ;
    }

    .lingap-16{
        width: 700px;
        border-radius: 25px;
    }

    .portfolio-description{
        margin-top: 20px;
     
       
    }

    .portfolio-details .portfolio-description h2 {
        font-size: 50px;
        font-weight: 700;
        /* margin-bottom: 20px; */
    }

    .mt-adjust{
        margin-top: 50px;
    }

    /* scholars section  */

    #scholars-top{
        margin-top: 90px;
    }

    #feb-28{
        margin-top: -130px;
    }

    #jan-17{
        margin-top: -90px;
    }

    #gallery-main{
        margin-top: -80px;
    }

    .lacsa{
        width: 420px;
        margin-left: 120px;
    }

    .cyrill{
        width: 420px;
        margin-left: 180px;
    }

    .marife{
        width: 420px;
        margin-left: 90px;
    }

    .pinning{
        width: 320px;
        margin-left: 150px;
    }
  }
  